.board {
  display: grid;
  background-color: darkblue;
  gap: 20px 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}

.piece {
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  padding: 9px;

  &.red {
    background-color: red;
  }

  &.green {
    background-color: green;
  }
}

.column {
  &:hover {
    background-color: blue;
  }
  &.full {
    &:hover {
      background-color: darkblue;
    }
  }
}
